services:
  ro:
    image: ghcr.io/gufronnakaaw/ro:latest
    container_name: ro
    restart: unless-stopped
    ports:
      - "127.0.0.1:3001:3000"
    env_file:
      - .env.production
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1536M
